.logoWrapper {
  position: absolute;
  width: 240px;
  height: 240px;
  flex-shrink: 0;
  place-items: center;
  
}

.cloud {
  display: block;
  width: 100%;
  height: auto;
  opacity:0.1;
}

.letters {
  position: absolute;
  opacity: 0;
  top: 57%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1.6);
  font-size: 38px;
  font-weight: 700;
  color: rgb(255, 255, 255);
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  pointer-events: none;
  z-index: 10;
  transition: all 0.3s ease;
}

  .letterssolmon {
  position: absolute;
  opacity: 0.2;
  top: 57%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1.6);
  font-size: 38px;
  font-weight: 600;
  /* pointer-events: none; */
  /* z-index: 10; */
  }
.logoWrapper:hover .letterssolmon { opacity: 0; }
.logoWrapper:hover .letters { opacity: 1; }
.logoWrapper:hover .cloud { opacity: 1; }

.logoWrapperRight:hover .letterssolmon { opacity: 0; }
.logoWrapperRight:hover .letters { opacity: 1; }
.logoWrapperRight:hover .cloud { opacity: 1; }

.hide {
  transition: opacity 2s ease;
}

.show {

   transition: opacity 20s ease-in-out;
}
