/* ===== WorkInProgressImage.module.css — harden layers visibility ===== */

/* containerul este 459×400 (scalat) din .hoverGroup */
.container {
  position: relative;
  width: 100%;
  height: 100%;

  transition: filter 280ms ease;
  animation: mobileIntro 2.0s ease-in-out 1;
}

.WorkImage{
  position: relative;
  z-index: 1000;
}

@keyframes mobileIntro {
  0%   { filter: grayscale(100%) brightness(0.95); }
  40%  { filter: none; }
  80%  { filter: grayscale(100%) brightness(0.95); }
  100% { filter: grayscale(100%) brightness(0.95); }
}
